<div class="chore-assignment <%= status %>">
  <h5><%= assignment.chore.title %></h5>
    <%= image_tag(assignment.user.photo, class: "user-photo img-responsive center-block") %>
  <div class="clearfix"></div>
  <p>
    <%= assignment.user.name %> <br>
    <% if (current_user == assignment.user || current_user.admin) && !assignment.completed %>
      <%= link_to "mark completed", complete_chore_url(assignment) %>
    <% elsif assignment.completed && current_user != assignment.user %>
        <%= link_to "flag" %>
    <% end %>
    
    
  </p>
  <p>Due: <%= assignment.due_date.to_formatted_s(:long_ordinal) %></p>
  <% if assignment.completed %>
    <p class="completed">Completed!</p>
  <% elsif assignment.due_date > Date.today  %>
    <p class="incomplete">Not yet completed.</p>
  <% else %>
    <p class="overdue">Overdue</p>
  <% end %>
</div>