<div class="col-sm-8">
  <div id="choreform">
    <form action="<%= action %>" method="post">
      <%= form_auth_token %>
      <% if chore.persisted? %>
        <input type='hidden' name='_method' value="patch">
      <% end %>
      <label>Title:</br>
        <input type="text" class="form-control" name="chore[title]" value="<%= chore.title %>">
      </label><br>
    
      <label>Day of the Week:</br>
        <select class="form-control" name="chore[day]">
        <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |weekday| %>
          <option value="<%= weekday %>" <%= 'selected' if chore.day == weekday %>><%= weekday %></option>
        <% end %>
        </select>
      </label>

      <label>Number of People:<br>
        <input type="number" class="form-control" name="chore[crew]" value="<%= chore.crew %>">
      </label><br>

      <label>Description
        <textarea name="chore[description" class="form-control" cols="30" rows="10"><%= chore.description %></textarea>
      </label><br>
    
      <% if chore.persisted? %>
        <input type="submit" value="Update Chore" class="btn btn-primary">
      <% else %>
        <input type="submit" value="Add Chore" class="btn btn-primary">
      <% end %>
    </form>
  </div>
</div>