<% if current_user %>
<div class="nav navbar navbar-inverse">
  <a class="navbar-brand" href="<%= root_url %>">Choreroom Alpha</a>
  <ul class="nav navbar-nav navbar-left">
    <li><a href="<%= user_url(current_user.id) %>">Hello, <%= current_user.name %>!</a></li>
    <% if current_user.admin %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chores<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= root_url %>">Current Chore Assignments</a></li>
          <li><a href="<%= chores_url %>">View All Chores</a></li>
          <li><a href="<%= new_chore_url %>">Add New Chore</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Residents<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= users_url %>">Residents List</a></li>
          <li><a href="<%= leaderboard_url %>">Leaderboard</a></li>
        </ul>
      </li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><%= button_to "Sign out", signout_url, method: :delete, class: "btn btn-warning navbar-btn" %></li>
  </ul>
</div>
<% end %>