<h1>Chore all the Things!</h1>
<p><%= button_to 'Add New Chore', new_chore_url, class: "btn btn-primary", method: :get %></p>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Weekday</th>
      <th>Number of People</th>
    </tr>
  </thead>
  <% @chores.sort.each do |chore| %>
  <tr>
    <% if current_user.admin %>
      <td><%= link_to chore.title, edit_chore_url(chore) %></td>
    <% else %>
      <td><%= chore.title %></td>
    <% end %>
    <td><%= chore.description %></td>
    <td><%= chore.day %></td>
    <td><%= chore.crew %></td>
  </tr>
  <% end %>

</table>
