<h1>Chore all the Things!</h1>
<p><button><a href="<%= new_chore_url %>">Add New Chore</a></button></p>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Weekday</th>
      <th>Number of People</th>
    </tr>
  </thead>
  <% @chores.each do |chore| %>
  <tr>
    <td><%= chore.title %></td>
    <td><%= chore.description %></td>
    <td><%= chore.day %></td>
    <td><%= chore.crew %></td>
  </tr>
  <% end %>
</table>