<!DOCTYPE html>
<html>
<head>
  <title>Choreroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<div class="nav navbar navbar-inverse">
  <ul class="nav navbar-nav navbar-left">
    <li class="navbar-brand">Choreroom Alpha</li>
    <li class="navbar-text">Hello, <%= current_user.name %>!</li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><%= button_to "Sign out", signout_url, method: :delete, class: "btn btn-warning navbar-btn" %></li>
  </ul>
</div>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
