<!DOCTYPE html>
<html>
<head>
  <title>Choreroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/nav' %>

<%= render partial: 'shared/addChore', locals: {action: chores_url, value:nil, chore: @chores} %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
